:root{
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}

img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.h1{
    color: var(--base);
}

body{
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'helvetica neue',sans-serif;
    font-weight: 100;
    font-size: 50px;
}

.controls{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

input{
    width: 100px;
}

.controls span{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}